@{
    ViewBag.Title = "Lot";
    Layout = "~/Views/_Layout.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Lot Gantt Chart</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Lot</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- /.content-header -->
<div class="row justify-content-between my-3">
    <div class="col-5" style="margin-left: 10px">
        <form action="~/Gantt/Lot" method="get">

            EQP Group :
            @Html.DropDownList("EQP")
            Product ID
            @Html.DropDownList("Product")
            <input type="submit" id="button1" value="조회" />
        </form>
    </div>
    <div class="col-2">
        <button id="zoomInButton" onclick="zoomIn()">+</button>
        <button id="zoomOutButton" onclick="zoomOut()">-</button>
        <label>zoom factor: 2</label>
    </div>
</div>

<div id="container" style="height:700px"></div>

@{


    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var InfoJson = jss.Serialize(ViewBag.Data);

}


@section Scripts
    {
    <script type="text/javascript">
        var Info = JSON.parse('@Html.Raw(InfoJson)')
        var chart;
        anychart.onDocumentReady(
            function () {
                    var Info = JSON.parse('@Html.Raw(InfoJson)')
                    // create data tree on raw data
                    var treeData = anychart.data.tree(Info, 'as-table');
                    // create resource gantt chart

                    chart = anychart.ganttResource();
                    chart.defaultRowHeight(20)
                        .splitterPosition(170);

                    //var view = treeData.mapAs();
                    //var filteredView = view.filter('id', function (value) {
                    //    return id = "PRESS";
                    //});

                    //var chart = anychart.ganttResource(filteredView);


                    // set data for the chart
                    chart.data(treeData);
                    //chart.data(treeData);



                    var timeLine = chart.getTimeline();
                    //timeLine.elements().labels().anchor('left-bottom').offsetY(3);

                    chart.getTimeline().scale().zoomLevels([
                        [
                            { unit: "hour", count: 2 },
                            { unit: "hour", count: 12 }
                        ]
                    ]);
                    chart.getTimeline().scale().minimum("2019-11-08");
                    chart.getTimeline().scale().maximum("2019-11-15");

                    chart.getTimeline().periods().labels().enabled(true);
                    chart.getTimeline().periods().labels().format("{%id}");
                    chart.getTimeline().periods().labels().fontColor("black");
                    chart.getTimeline().periods().labels().fontSize(8);
                    // make chart editable

                    chart.getTimeline().tooltip().useHtml(true);
                    chart.getTimeline().tooltip().titleFormat("{%id}");
                    chart.getTimeline().tooltip().format("StartDate: {%start} <br>EndDate: {%end}");

                    chart.edit(true);

                    var dataGrid = chart.dataGrid();

                    var column = dataGrid.column(1);
                    column.width(250);
                    column.labelsOverrider(function (label, item) {
                        if (item.meta('filter')) {
                            label.fontWeight('bold');
                            label.fontColor('#66BB6A');
                        }
                    });

                    // set first column settings
                    dataGrid
                        .column(0)
                        .title('#')
                        .width(30)
                        .labels({ hAlign: 'center' });
                    // set second column settings
                    dataGrid
                        .column(1)
                        .title('Lot')
                        .width(150)
                        .labels({ hAlign: 'center' });




                    // set container id for the chart
                    chart.container('container');

                    // initiate chart drawing
                    chart.draw();

                    // zoom chart all dates range
                    //chart.fitAll();


                }
        );
        function zoomIn() {
            chart.zoomIn(2);

        }

        // zoom the timeline out
        function zoomOut() {
            chart.zoomOut(2);

        }

    </script>

}
